{
  "extends": ["eslint:recommended"],
  "rules": {
    "array-bracket-spacing": 0,
    "arrow-parens": 0,
    "brace-style": 0,
    "require-jsdoc": 0,
    "comma-dangle": 0,
    "object-curly-spacing": 0,
    "one-var": 0,
    "no-shadow": 2,
    "semi": 0,
  },

  "globals": {
    "Gerrit": false
  },

  "overrides": [
    {
      "files": ["src/**/*.html"],
      "env": {
        "browser": true,
      },
      "globals": {
        "Promise": false,
        "Polymer": false
      },
      "parserOptions": {
        "ecmaVersion": 6,
      },
    },
    {
      "files": ["src/**/*.js"],
      "env": {
        "browser": true,
      },
      "globals": {
        "Promise": false,
      },
      "excludedFiles": ["**/*.test.js", "rollup.config.js"],
      "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
      },
    },

    {
      "files": ["rollup.config.js"],
      "env": {
        "node": true
      },
      "parserOptions": {
        "ecmaVersion": 6
      }
    },

    {
      "files": ["**/*.test.js"],
      "env": {
        "mocha": true,
        "node": true,
      }
    }
  ]
}